langchain
langchain-community
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
accelerate
sentence_transformers
streamlit
streamlit_chat
faiss-cpu
tiktoken
huggingface-hub
pypdf
ctransformers